---
import Layout from '@layouts/Layout.astro'
import media from '@data/media.json' // Import media data
---

<Layout title="Ton Lamper - In de media">
	<div>
		<h1>In de media</h1>
	</div>

	<div class="grid gap-3 sm:grid-cols-2">
		{
			media.map((item) => (
				<article class="article">
					<a href={item.url} target="_blank" class="no-underline">
						<span class="text-sm text-gray-500 uppercase">{item.date}</span> -
						<span class="text-sm text-gray-500 uppercase">{item.outlet}</span>
						<div class="mb-3 text-xl font-bold">{item.title}</div>
						<img
							src={`/images/in-de-media/${item.image.src}`}
							alt={item.image.alt}
							width={item.image.width}
							height={item.image.height}
							class="rounded-sm"
						/>
						<div class="text-gray-500">&copy; {item.image.credit}</div>
					</a>
				</article>
			))
		}
	</div>
</Layout>

<style>
	@reference "tailwindcss";
	.article {
		@apply rounded border p-3 shadow-md;
	}
</style>
