---
import Layout from '@layouts/Layout.astro'
import artworks from '@components/artworks.json'
import type { Artworks } from '../../types'

export async function getStaticPaths() {
	const art: Artworks = artworks
	const pages = Object.keys(art).map((key) => {
		return {
			id: key,
			...art[key]
		}
	})

	return pages.map(({ slug, name, images, text }) => {
		return {
			params: { slug },
			props: { name, images, text }
		}
	})
}

const { name, images, text } = Astro.props
const title = `Ton Lamper - ${name}`
---

<Layout title={title}>
	<div class="mb-9 text-center">
		<h1 class="mb-0">{name}</h1>
	</div>

	{text && <div class="mb-9" set:html={text} />}

	<div class="flex flex-wrap justify-center gap-6">
		{images.map((image) => <img src={image} alt={name} class="max-h-[800px]" height="800" />)}
	</div>

	<div class="mt-9">
		<a href="/portfolio" class="inline-flex items-center text-gray-500"> ‹ Terug naar portfolio </a>
	</div>
</Layout>
